In [1]:
import pandas as pd

In [2]:
column = ['user_id','age','gender','occupation','zip_code']
users = pd.read_csv('udata.txt', sep='|', names = column)

In [3]:
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

See the first 25 entries

In [4]:
print(users.head(25))

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

See the last 10 entries

In [5]:
print(users.tail(10))

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

What is the number of observations in the dataset

In [6]:
users.shape

(943, 5)

What is the number of columns in the dataset

In [7]:
print(len(users.columns))

5

Print the name of all the columns

In [8]:
print(users.columns)

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

How is the dataset indexed

What is the data type of each column

In [9]:
dtyp = users.dtypes
dtyp

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

Print only the occupation column

In [10]:
users['occupation']

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

How many different occupations are in this dataset

In [11]:
len(users['occupation'].unique())

21

What is the most frequent occupation

In [12]:
a = users['occupation'].value_counts()
print(a)

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [13]:
a.idxmax()

'student'

What is the mean age of users

In [14]:
users['age'].mean()

34.05196182396607

What is the age with least occurrence

In [15]:
b = users['age'].value_counts()

In [16]:
b.idxmin()

7