In [2]:
import pandas as pd

Exercise 1:

In [3]:
Apples, Bananas = [30], [21]
Data = {'Apples' : Apples, 'Bananas' : Bananas}
df = pd.DataFrame(Data)
print(df)

   Apples  Bananas
0      30       21

Exercise 2:

In [5]:
Apples, Bananas = [35, 41], [21, 34]
Data = {'Apples' : Apples, 'Bananas' : Bananas}
Column = ['2017 Sales', '2018 Sales']
df = pd.DataFrame(Data)
df.index = Column
print(df)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

Exercise 3:

In [6]:
Data = {'Flour' : '4 cups',
'Milk' : '1 cup',
'Eggs' : '2 large',
'Spam' : '1 can'}
ser = pd.Series(Data)
print(ser)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
dtype: object

Exercise 4:

In [7]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

Exercise 5:

In [8]:
import pandas as pd
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])
'a' in data

True